/*===============================
  Medium Large Screens (992px - 1199px)
================================*/
@media (min-width: 992px) and (max-width: 1199px) {
  .slider_main {
    padding-top: 9%;
  }
  .navigation.navbar-dark .navbar-nav .nav-link {
    padding: 15px 26px;
  }
  .relative h3 {
    padding-bottom: 25px;
  }
  #carouselExampleIndicators .carousel-control-prev {
    left: 3%;
  }
  .about {
    padding: 90px 0;
  }
  #myCarousel a.carousel-control-prev {
    left: 41%;
  }
  ul.fullink li {
    padding: 0px 16px;
  }
  ul.social_icon li {
    margin: 0;
  }
  ul.social_icon li a {
    width: 28px;
    height: 28px;
    line-height: 28px;
  }
  ul.social_icon li a i {
    font-size: 16px;
  }
}

/*===============================
  Tablets (768px - 991px)
================================*/
@media (min-width: 768px) and (max-width: 991px) {
  .slider_main {
    padding-top: 14%;
  }
  .header {
    padding: 27px 10px;
  }
  .navigation.navbar-dark .navbar-nav .nav-link {
    padding: 7px 14px;
    font-size: 16px;
  }
  ul.email li {
    padding: 0px 15px;
  }
  .relative h3 {
    padding: 29px 0 25px;
    font-size: 61px;
    line-height: 75px;
  }
  #carouselExampleIndicators .carousel-control-prev {
    left: 1%;
  }
  .class_box {
    padding: 40px 20px 50px 20px;
  }
  .about,
  .skating {
    padding: 90px 0;
  }
  .shop_img {
    padding-left: 0px;
  }
  .test_box {
    padding: 0 10px 40px 10px;
  }
  .white_bg {
    margin: 0;
  }
  #myCarousel a.carousel-control-prev {
    left: 41%;
  }
  #myCarousel a.carousel-control-next {
    right: 41%;
  }
  .border_left {
    padding-left: 20px;
  }
  .newsl {
    font-size: 12px;
  }
  ul.fullink li {
    padding: 0px 5px;
  }
  ul.fullink li a {
    font-size: 16px;
  }
  ul.social_icon {
    padding-top: 15px;
  }
}

/*===============================
  Phones (576px - 767px)
================================*/
@media (min-width: 576px) and (max-width: 767px) {
  .header {
    padding: 27px 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 11px;
  }

  .logo img {
    max-width: 140px;
    width: 100%;
    height: auto;
  }

  .logo {
    padding: 5px 0;
  }

  .board {
    max-width: inherit;
  }

  .slider_main {
    padding-top: 26%;
  }

  .navigation.navbar {
    float: right;
    display: block !important;
    padding: 0;
    width: 100%;
  }

  .navigation .navbar-collapse {
    background: #2b2b2b;
    padding: 20px;
    margin-top: 29px;
    position: absolute;
    width: 100%;
    z-index: 999;
  }

  .navigation.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    color: #fff;
    text-align: center;
  }

  .navigation.navbar-dark .navbar-toggler {
    border: none;
    float: right;
    padding: 0;
    width: 100%;
    outline: none;
    margin-top: -37px;
  }

  .navigation.navbar-dark .navbar-toggler-icon {
    background: url(../images/menu_icon.png) no-repeat;
    width: 48px;
    float: right;
  }

  .d_none {
    display: none;
  }
}

/*===============================
  Extra Small Devices (max-width: 575px)
================================*/
@media (max-width: 575px) {
  .header {
    padding: 27px 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 11px;
  }

  .logo img {
    max-width: 120px;
    width: 100%;
    height: auto;
  }

  .logo {
    padding: 5px 0;
    float: left;
  }

  .navigation.navbar {
    float: right;
    display: block !important;
    padding: 0;
    width: 100%;
    margin-top: -40px;
  }

  .navigation .navbar-collapse {
    background: #2b2b2b;
    padding: 20px;
    margin-top: 65px;
    position: absolute;
    width: 100%;
    z-index: 999;
  }

  .navigation.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    color: #fff;
    text-align: center;
  }

  .navigation.navbar-dark .navbar-toggler {
    float: right;
    border: none;
    margin-top: 1px;
    padding: 0;
    outline: none;
  }

  .navigation.navbar-dark .navbar-toggler-icon {
    background: url(../images/menu_icon.png) no-repeat;
    width: 48px;
  }

  .d_none {
    display: none;
  }
}
